body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #003e7e;
    padding: 20px;
    height: 80px;
}

.navbar-logo img {
    height: 150px;
    margin-top: 20px;
    transition: transform 0.2s;
}

.navbar-logo:hover img {
    transform: scale(1.07);
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: flex;
    align-items: center;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 22px;
    border-radius: 18px;
    transition: background 0.2s, color 0.2s;
}

.navbar-menu a.active,
.navbar-menu a:hover {
    background: #fff;
    color: #003e7e;
    font-weight: bold;
}